<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Job Search Database | Postings</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
	crossorigin="anonymous">
</head>
<body>
	<div th:replace="~{header :: header}"></div>
	<div class="container">
		<h1>All Job Postings</h1>
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Date</th>
					<th scope="col">Company</th>
					<th scope="col">Position</th>
					<th scope="col">Reference</th>
					<th scope="col">URL</th>
					<th scope="col">Status</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<!--  <tr th:each="i : ${#numbers.sequence(postings.size() - 1,0,-1)}" 
					th:with="posting=${postings[i]}"> -->
				<tr th:each="posting : ${postings}"> 
					<td th:text="${posting.postingDate}">Posting Date</td>
					<td th:text="${posting.companyName}">Company</td>
					<td th:text="${posting.postingName}">Position</td>
					<td th:text="${posting.postingRef}">Ref</td>
					<td><a href="https://www.google.com" th:href="${posting.postingUrl}" target="_blank">Posting Link</a></td>
					<td th:text="${posting.appStatus}">(status)</td>
					<td>
						<a class="btn btn-primary" href="#" th:href="@{/postings/view/{id}(id=${posting.id})}">Details</a>
					</td>
				</tr>
			</tbody>
		</table>
		<div>
		<a class="btn btn-primary" href="/postings/new">New Posting</a>
		</div>
	</div>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>
</body>
</html>